h1,h2,h3,h4 {
  color: #233658;
  font-weight: bold;
}


.hlred {
    background-color: rgb(198, 39, 54);
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 6px;
}

.hlblue {
    background-color: rgb(0, 36, 93);
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 6px;;
}