<div class="row text-center">
        <div class="col-sm-12 col-lg-6">
            <img class="mx-auto rounded-circle" style = "margin-top: 1rem; width: 14rem; height: 14rem;" src="../author/simon-munzert/avatar.jpg" alt="" />
            <h4>Simon<br>Munzert</h4>
            <p class="text-muted">Professor of Data Science and<br>Public Policy</p>
            <a class="mx-2" style = "color:#2a4858;" href="https://simonmunzert.github.io/" target="_blank"><i class="fa fa-globe"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="mailto:munzert[at]hertie-school.org" target="_blank"><i class="fa fa-envelope"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://twitter.com/simonsaysnothin" target="_blank"><i class="fab fa-twitter" ></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://scholar.google.com/citations?user=hIMdRkMAAAAJ" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        </div>
        <div class="col-sm-12 col-lg-6">
            <img class="mx-auto rounded-circle" style = "margin-top: 1rem; width: 14rem; height: 14rem;" src="../author/sebastian-ramirez-ruiz/avatar.jpg" alt="" />
            <h4>Sebastian<br>Ramirez-Ruiz</h4>
            <p class="text-muted">Doctoral Candidate and<br>Research Associate</p>
            <a class="mx-2" style = "color:#2a4858;" href="https://seramirezruiz.github.io/" target="_blank"><i class="fa fa-globe"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="mailto:ramirez-ruiz[at]hertie-school.org" target="_blank"><i class="fa fa-envelope"></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://twitter.com/seramirezruiz/" target="_blank"><i class="fab fa-twitter" ></i></a>
            <a class="mx-2" style = "color:#2a4858;" href="https://scholar.google.com/citations?user=Gbqiu-AAAAAJ&hl=en" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        </div>
</div>
</div>